const inputString = "Hello World! 👋";
const inputNumber = 10;

// =======================================

function identity_1(input: string): string {
  return input;
}

const output_1 = identity_1(inputString);

console.log(output_1);

const output_2 = identity_1(inputNumber);

// =======================================

function identity_2(input: string | number): string | number {
  return input;
}

const output_3 = identity_2(inputString);
const output_4 = identity_2(inputNumber);

// =======================================

function identity_3(input: any): any {
  return input;
}

const output_5 = identity_3(inputString);
const output_6 = identity_3(inputNumber);

// =======================================

function identity_4(input: unknown): unknown {
  return input;
}

const output_7 = identity_4(inputString);
const output_8 = identity_4(inputNumber);

// =======================================

export default undefined;
