function genericIdentity<Type>(input: Type): Type {
  return input;
}

const genericOutput_1 = genericIdentity<string>(inputString);
const genericOutput_2 = genericIdentity<number>(inputNumber);

// =======================================

const genericOutput_3 = genericIdentity(inputString);
const genericOutput_4 = genericIdentity(inputNumber);

// =======================================

const genericOutput_5 = genericIdentity({
  keyOne: "property",
  keyTwo: 2,
});
