const emailString = "Hello! 🚀";

const attachments = {
  files: ["Statement.pdf", "moon.jpg"],
  size: 2048,
};

function attach<T, U>(obj1: T, obj2: U): T & U {
  return { ...obj1, ...obj2 };
}

const emailStringWithAttachments = attach(emailString, attachments);

console.log(emailStringWithAttachments);

// =======================================

export default undefined;
