const email = {
  subject: "Re: Investment",
  content: "Good Morning Everyone! 🐵",
};

const attachments = {
  files: ["Statement.pdf", "moon.jpg"],
  size: 2048,
};

function extend<T, U>(obj1: T, obj2: U): T & U {
  return { ...obj1, ...obj2 };
}

const emailWithAttachments = extend(email, attachments);
